@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  /* Colors */
  --primary: #ff8906;
  --primaryLight: #ffad52;
  --primaryDark: #b86100;
  --secondary: #f25f4c;
  --tertiary: #e53170;
  --black: #0f0e17;
  --white: #fffffe;
  --gray: #a7a9be;

  --bgColor: var(--black);
  --bodyColor: var(--gray);
  --headingColor: var(--white);

  --linkColor: var(--primary);
  --linkHoverColor: var(--primaryLight);
  --linkActiveColor: var(--primaryDark);

  /* Typography */
  --headingFont: 'Muli', sans-serif;
  --bodyFont: 'Muli', sans-serif;

  --bodyText: 1rem;
  --smallText: 0.8rem;
  --headingOne: 3.052rem;
  --headingTwo: 2.441rem;
  --headingThree: 1.953rem;
  --headingFour: 1.563rem;
  --headingFive: 1.25rem;
  --headingSix: 1rem;

  --lineHeight: 1.65;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  /* Background from https://www.heropatterns.com/ */
  background-color: var(--bgColor);
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23ff8906' fill-opacity='0.47' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-attachment: fixed;
  color: var(--bodyColor);
  line-height: var(--lineHeight);
  font-family: var(--bodyFont);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headingColor);
}

h1 {
  font-size: var(--headingOne);
}
h2 {
  font-size: var(--headingTwo);
}
h3 {
  font-size: var(--headingThree);
}
h4 {
  font-size: var(--headingFour);
}
h5 {
  font-size: var(--headingFive);
}
h6 {
  font-size: var(--headingSix);
}

li {
  list-style: none;
}

a {
  color: var(--linkColor);
  text-decoration: none;
}

a:hover {
  color: var(--linkHoverColor);
  text-decoration: underline;
}

a:active {
  color: var(--linkActiveColor);
}
