@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  /* Colors */
  --green: #3ce050;
  --blue: #496ed2;
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 100%, 100%);
  --teal: hsl(180, 94%, 58%);
  --darkTeal: hsl(182, 92%, 43%);
  --superDarkTeal: hsl(185, 85%, 28%);
  --lightTeal: hsl(180, 98%, 76%);
  --superLightTeal: hsl(180, 100%, 88%);
  --yellow: hsl(48, 100%, 52%);
  --superLightYellow: hsl(48, 100%, 70%);
  --superDarkGrey: hsl(209, 15%, 28%);
  --darkGrey: hsl(207, 12%, 43%);
  --grey: hsl(208, 12%, 58%);
  --lightGrey: hsl(210, 16%, 76%);
  --superLightGrey: hsl(208, 21%, 88%);

  --primary: var(--teal);
  --primaryLight: var(--lightTeal);
  --primaryDark: var(--darkTeal);
  --secondary: var(--superLightYellow);

  --bgColor: var(--superDarkGrey);
  --bodyTextColor: var(--white);
  --headingColor: var(--white);

  --linkColor: var(--primary);
  --linkHoverColor: var(--primaryLight);
  --linkActiveColor: var(--primaryDark);

  /* Typography */
  --headingFont: 'Muli', sans-serif;
  --bodyFont: 'Muli', sans-serif;

  --bodyText: 1rem;
  --smallText: 0.8rem;
  --headingOne: 3.052rem;
  --headingTwo: 2.441rem;
  --headingThree: 1.953rem;
  --headingFour: 1.563rem;
  --headingFive: 1.25rem;
  --headingSix: 1rem;

  --lineHeight: 1.65;

  --transition: all 200ms ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  /* Colors */
  --green: #3ce050;
  --blue: #496ed2;
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 100%, 100%);
  --teal: hsl(180, 94%, 58%);
  --darkTeal: hsl(182, 92%, 43%);
  --superDarkTeal: hsl(185, 85%, 28%);
  --lightTeal: hsl(180, 98%, 76%);
  --superLightTeal: hsl(180, 100%, 88%);
  --yellow: hsl(48, 100%, 52%);
  --superLightYellow: hsl(48, 100%, 70%);
  --superDarkYellow: hsl(48, 100%, 31%);
  --superDarkGrey: hsl(209, 15%, 28%);
  --darkGrey: hsl(207, 12%, 43%);
  --grey: hsl(208, 12%, 58%);
  --lightGrey: hsl(210, 16%, 76%);
  --superLightGrey: hsl(208, 21%, 88%);

  --primary: var(--teal);
  --primaryLight: var(--lightTeal);
  --primaryDark: var(--darkTeal);
  --superDarkPrimary: var(--superDarkTeal);
  --superLightPrimary: var(--superLightTeal);
  --secondary: var(--superLightYellow);

  --bgColor: var(--superDarkGrey);
  --bodyTextColor: var(--white);
  --headingColor: var(--white);

  --linkColor: var(--primary);
  --linkHoverColor: var(--primaryLight);
  --linkActiveColor: var(--primaryDark);

  /* Background from https://www.heropatterns.com/ */
  background-color: var(--bgColor);
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%2338bec9' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-attachment: fixed;
  color: var(--bodyTextColor);
  line-height: var(--lineHeight);
  font-family: var(--bodyFont);
}

.light-mode {
  --bgColor: var(--white);
  --bodyTextColor: var(--black);
  --headingColor: var(--primary);

  --primary: var(--superDarkTeal);
  --secondary: var(--superDarkYellow);

  --linkColor: var(--superDarkPrimary);
  --linkHoverColor: var(--primaryDark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headingColor);
}

h1 {
  font-size: var(--headingOne);
}
h2 {
  font-size: var(--headingTwo);
}
h3 {
  font-size: var(--headingThree);
}
h4 {
  font-size: var(--headingFour);
}
h5 {
  font-size: var(--headingFive);
}
h6 {
  font-size: var(--headingSix);
}

li {
  list-style: none;
}

a {
  color: var(--linkColor);
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  color: var(--linkHoverColor);
  text-decoration: underline;
}

a:active {
  color: var(--linkActiveColor);
}

/* Scrollbar Styles */
body::-webkit-scrollbar {
  width: 0.75rem;
}
html {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--bgColor);
}
body::-webkit-scrollbar-track {
  background: var(--bgColor);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  background-image: var(--primary);
  border-radius: 6px;
  border: 3px solid var(--bgColor);
}
